In [7]:
print("Hello World")

Hello World

In [35]:
def greet(name):
  return f"Hello, {name}"

my_name = input("Enter your name:")
print(greet(my_name))

Enter your name:H Athulkrishnan
Hello, H Athulkrishnan

In [27]:
# Variables and types
x = 10          # int
name = "Athul"  # str
pi = 3.14       # float
is_valid = True # bool

print(type(x))
print(type(name))
print(type(pi))
print(type(is_valid))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [38]:
s = "Hello Python"
print(s.upper())
print(s.lower())
print(s[0])
print(s[::-1])
lst_str = s.split(" ")
print(lst_str)
print(" ".join(lst_str))

HELLO PYTHON
hello python
H
nohtyP olleH
['Hello', 'Python']
Hello Python

In [31]:
# List
fruits = ["apple", "banana"]
fruits.append("mango")
print(fruits)
fruits[0]  # "apple"

# Tuple
coords = (10, 20)
print(coords)

# Dictionary
student = {"name": "Athul", "age": 21}
print(student["name"])
student["Occupation"] = "student"
print(student)

# Set
unique = set([1, 2, 2, 3,4,5,5,6])
print(unique)

['apple', 'banana', 'mango']
(10, 20)
Athul
{'name': 'Athul', 'age': 21, 'Occupation': 'student'}
{1, 2, 3, 4, 5, 6}

In [44]:
# List Comprehension

squares = [x**2 for x in range(1,6)]
print(squares)

even_lst = [x for x in range(1,11) if x%2==0]
print(even_lst)

labels = ["even" if x % 2 == 0 else "odd" for x in range(1, 6)]
print(labels)

[1, 4, 9, 16, 25]
[2, 4, 6, 8, 10]
['odd', 'even', 'odd', 'even', 'odd']

In [5]:
def my_decorator(f):
    def wrapper():
        print("Before")
        f()
        print("After")
    return wrapper

In [6]:
@my_decorator
def say_hello():
    print("Hello!")

say_hello()

Before
Hello!
After

In [12]:
# def lambdaFunc(x):
#   double = lambda x: x * 2
#   return double

# x=2
# print(lambdaFunc(x)(x))


double = lambda x: (x*2 + x*2)
print(double(2))

8

In [15]:
# Palindrome string

def isPal(str1):
  start=0
  end=len(str1)-1

  while start <= end:
    if str1[start] != str1[end]:
      return "Not Palindrome"

    start+=1
    end-=1

  return "Palindrome"


my_str = 'malayalam'
print(isPal(my_str))

Palindrome

In [19]:
# Palindrome Number

def isPalNum(num):
  org_num = num
  rev = 0

  while num > 0 :
    ld = num % 10
    rev = rev*10 + ld
    num = num//10

  if org_num == rev:
    return "Palindrome"

  return "Not Palindrome"

num = 121
print(isPalNum(num))

Palindrome

In [24]:
# Revrse a list

def reverseList(lst):
  start = 0
  end = len(lst) - 1

  while start <= end:
    lst[start],lst[end] = lst[end],lst[start]
    start+=1
    end-=1

  return lst

my_lst = [1,2,3,4,5,6]
print(reverseList(my_lst))

[6, 5, 4, 3, 2, 1]

In [34]:
def isLeap(year):
  if year % 4 == 0:
    if year % 100 == 0:
      if year % 400 == 0:
        return "Leap Year"
      else:
        return "Not Leap Year"
    else:
      return "Leap Year"

  else:
    return "Not Leap Year"

year = 2023
print(isLeap(year))

Not Leap Year

In [50]:
def tryExcept(a,b):
  try:
    res=a//b
    return res
  except Exception as e:
    return e

  finally:
    print("Done")

a=int(input("enter num1:"))
b=int(input("enter num2:"))

print(tryExcept(a,b))

enter num1:4
enter num2:0
Done
integer division or modulo by zero

In [54]:
class Person:
    def __init__(self, name,age):
        self.name = name
        self.age= age

    def greett(self):
        return f"Hello, {self.name}, I see you are {self.age} years"

p = Person("H",21)
print(p.greett())

Hello, H, I see you are 21 years

In [57]:
class Car:
  def __init__(self,brand,model):
    self.brand=brand
    self.model=model

  def myCar(self):
    return f"Oh!, your car is {self.brand} {self.model}"

c = Car("Toyota","Camry")
print(c.myCar())

Oh!, your car is Toyota Camry

In [60]:
import math
print(int(math.sqrt(16)))

import random
print(random.randint(1, 10))

4
5

In [61]:
# Guess a Number game
import random

play=True
while play:
  num=int(input("Choose a number between 1-10:"))
  system_num=random.randint(1,10)

  if num == system_num:
    print("You Won")

  else:
    print(f"Sorry, Bad Luck, the number was {system_num}")

  play=input("Do you want to try again:(Yes/No)")

  if play.lower() == "yes":
    play=True

  else:
    play=False

Choose a number between 1-10:3
Sorry, Bad Luck, the number was 1
Do you want to try again:(Yes/No)yes
Choose a number between 1-10:1
Sorry, Bad Luck, the number was 10
Do you want to try again:(Yes/No)yes
Choose a number between 1-10:5
Sorry, Bad Luck, the number was 9
Do you want to try again:(Yes/No)yes
Choose a number between 1-10:6
Sorry, Bad Luck, the number was 1
Do you want to try again:(Yes/No)yes
Choose a number between 1-10:8
Sorry, Bad Luck, the number was 6
Do you want to try again:(Yes/No)yes
Choose a number between 1-10:10
Sorry, Bad Luck, the number was 8
Do you want to try again:(Yes/No)yes
Choose a number between 1-10:6
Sorry, Bad Luck, the number was 3
Do you want to try again:(Yes/No)no